@model IEnumerable<FPT_Management_System.ViewModels.TraineeInCourseViewModels>
@{
    ViewBag.Title = "Trainees In Courses";
}

<div class="page-header">
    <h2 style="margin-bottom: 15px">Trainees In Courses</h2>
</div>

<div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
    <div class="form-group">
        @Html.ActionLink("Assign Trainee", "AddTrainee", "CoursesAssign", new { @class = "btn btn-success" })
        @Html.ActionLink("Remove Trainee", "RemoveTrainee", "CoursesAssign", new { @class = "btn btn-danger" })
    </div>

    @using (Html.BeginForm("GetTrainees", "CoursesAssign", FormMethod.Get))
    {
        <div class="form-inline">
            @Html.TextBox("searchString", null, new { @class = "form-control" })
            <button type="Submit" class="btn btn-primary">Search</button>
        </div>
    }
</div>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Trainees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Course.Name</td>
                <td>
                    <ul>
                        @foreach (var trainee in item.Trainees)
                        {
                            <li>@trainee.FullName</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>