@model FPT_Management_System.Models.Trainee
@{
    ViewBag.Title = "EditTraineeAccount";
}

<div class="page-header">
    <h2 style="margin-bottom: 15px">Edit Trainee Account</h2>
</div>
@using (Html.BeginForm("EditTraineeAccount", "Staffs", FormMethod.Post))
{
    @Html.HiddenFor(i => i.TraineeId)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(u => u.FullName)
        @Html.EditorFor(u => u.FullName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Age)
        @Html.EditorFor(a => a.Age, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(u => u.DateOfBirth)
        @Html.EditorFor(u => u.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(u => u.Education)
        @Html.EditorFor(u => u.Education, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
}

<div class="form-group" style="margin-top: 45px">
    @Html.ActionLink("Back to Trainees List", "IndexTrainee", "Staffs", new { @class = "btn btn-success" })
</div>