@model FPT_Management_System.Models.Trainee
@{
    ViewBag.Title = "TraineeInfoDetails";
}

<h2 style="margin-bottom: 15px; text-align: center; margin-top: 45px;">Trainee Info Details</h2>


<div class="panel panel-default">
    <div class="panel-body">
        <p>Trainee Full Name: @Model.FullName</p>
        <p>Trainee Age: @Model.Age</p>
        <p>Trainee Date Of Birth: @Model.DateOfBirth.ToString("D")</p>
        <p>Trainee Education: @Model.Education</p>
    </div>
</div>

<div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
    <div class="form-group">
        @Html.ActionLink("Back to Trainee List ", "IndexTrainee", "Staffs", new { @class = "btn btn-primary" })
    </div>
</div>